<script src="node_modules/chart.js/src/chart.js"></script>

<p>
  coaching works!
</p>
<div class="row container-chart">
  <div *ngIf="challengeChart" class="col-xs-12 col-md-6 col-sm-6">
    <app-charts [arrayChallenge]="challengeChart"> </app-charts>
  </div>
  <div *ngIf="challengeChart2" class="col-xs-12 col-md-6 col-sm-6">
    <app-charts [arrayChallenge]="challengeChart2"> </app-charts>
  </div>
</div>
<md-tab-group (selectChange)="handleUserUpdated($event)">
  <md-tab label="Team Challenges">
    <div *ngIf="challengeResult">
      <app-table [arrayChallenge]="challengeResult" > </app-table>
    </div>
  </md-tab>
  <md-tab label="My Challenges">
    <div *ngIf="challengeResult2">
    <app-table-mychallenges [arrayChallenge]="challengeResult2" > </app-table-mychallenges>
    </div>
  </md-tab>
</md-tab-group>