<md-input-container floatPlaceholder="never">
  <input mdInput #filter placeholder="Filter users">
</md-input-container>

<div>
  <table mdSort (mdSortChange)="sortData($event)" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th style="width: 400px;" md-sort-header="title">Title</th>
      <th md-sort-header="createby">Create By</th>
      <th md-sort-header="avgScore">Avg Score</th>
      <th style="width: 140px;" md-sort-header="invited">Invited</th>
      <th style="width: 125px;" md-sort-header="completed">Completed</th>
    </tr>

    <tr *ngFor="let challenge of myChallengesResults | paginate: { itemsPerPage: 10, currentPage: currentpage, id: 'myChallenge' }">
      <td class="text-blue">{{challenge.challengeName}}</td>
      <td>{{challenge.challengerFirstName}}</td>
      <td>{{challenge.overallScore}}</td>
      <td>{{challenge.modifiedDate | date:'y-MM-dd' || '-' }}</td>
      <td>{{challenge.completedDate | date:'y-MM-dd' || 'Complete Now'}}</td>
    </tr>
  </table>
  <div class="row  between-lg">
    <div class="col-xs-12
                col-sm-6
                col-md-6
                col-lg-4">
      <p>
        Showing {{currentpage}} to 10 of {{myChallengesResults.length}} entries
      </p>
    </div>
    <div class="col-xs-12
                col-sm-6
                col-md-6
                col-lg-4">
      <pagination-controls (pageChange)="currentpage = $event" id="myChallenge"></pagination-controls>
    </div>
  </div>

</div>