
<div class="row between-sm char-div" style="width: 100%">
<div *ngIf="arrayChallenge.typeChart" class="col-xs-12 col-md-6 col-sm-6 line-right">
  <h2>Welcome Jam</h2>
  <p class="text-blue">It looks like you have some entries to review</p>
  <h4>Browse your Team Challenges tab below to continue reviewing submisions, or your My Challenges tab to complete challenges</h4>
</div>
<div *ngIf="!arrayChallenge.typeChart" class="col-xs-12 col-md-6 col-sm-6 line-right">
  <h2>Personal Status</h2>
    <div class="container-avgScore">
      <p>Avg Score</p>
      <h3>{{arrayChallenge.avgScore | number : '1.2-2'}}%</h3>
    </div>
  </div>
<div class="col-xs-12 col-md-5 col-sm-5">
  <div style="display: block">
    <canvas baseChart [datasets]="datasets" [labels]="doughnutChartLabels" [colors]="lineChartColors" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
</div>
