.char-div{
    -webkit-box-shadow: 3px 4px 14px -2px rgba(0,0,0, 0.19);
    -moz-box-shadow: 3px 4px 14px -2px rgba(0,0,0, 0.19);
    box-shadow: 3px 4px 14px -2px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    padding: 18px 0px;
}

h2{
    margin-top: 0px;
}

.line-right{
border-right: 1px solid rgba(0, 0, 0, 0.29);
}

.container-avgScore{
    border: 1px solid rgba(0, 0, 0, 0.47);
    border-radius: 15px;
    padding: 0px 20px;
}
.container-avgScore h3{
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #077edc;
    font-weight: 100;
}
.container-avgScore p{
    margin-bottom: 0px;
}

.chart-centertitle{
    text-align: center;
    position: absolute;
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0;
    right: 0;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    width: 36%;
    left: 0;
    bottom: 0;
    display: table;
}
.container-chart{
    display: block;
    position: relative;
    min-width: 200px;
    max-width: 300px;
    margin: 0 auto;
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { 

}